/* --> Home Page <-- */
@import url("../src/home-page/home-styles.css");

/* --> Login Page <-- */
@import url("../src/login-page/login-styles.css");

/* --> 2FA Page <-- */
@import url("../src/two-factor-page/two-factor-styles.css");

/* --> Messages page <-- */
@import url("../src/messages/messages-styles.css");

/* --> Settings page <-- */
@import url("../src/settings-page/settings-styles.css");

/* --> Modify profile <-- */
@import url("../src/modify-profile/modify-styles.css");

/* --> Games page <-- */
@import url("../src/games/select-game-styles.css");
@import url("../src/games/pong/pong-styles.css");
@import url("../src/games/connectFour/connectFour-styles.css");

/* --> Friends Page <-- */
@import url("../src/friends/friends.styles.css");

/* --> Stats Page <-- */
@import url("../src/statistics/statistics.styles.css");

/* --> 404 Page <-- */
@import url("../src/404/404-styles.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Perfect DOS VGA";
	src: url("../resources/fonts/perfect_dos_vga_437/Perfect\ DOS\ VGA\ 437\ Win.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Alkhemikal";
	src: url("../resources/fonts/alkhemikal.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}

:root {
	--accent-pink: #FEE0EF;
	--dark-pink: #D087AB;
	--back-purple: #3B0034;
	--dark-purple: #54184D;
	--dark-blue: #360066;
	--violet: #522b66;
	--alert: #C60001;
	--accent-alert: #FF504F;
	--success: #537A1C;
	--accent-success: #79B329;
}

body {
	background-color: var(--dark-pink);
	/* background-color: #f5f5f56e; */
	margin: 0;
	font-family: "Perfect DOS VGA";
	color: var(--accent-pink);
	cursor: default;
}

h1 {
	font-family: "Alkhemikal", serif;
  font-size:4em;
	color: white;
}
  
#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at 20% 30%, var(--back-purple), transparent 40%),
	            radial-gradient(circle at 80% 70%, var(--dark-purple), transparent 40%),
	            linear-gradient(90deg, var(--back-purple) 0%, var(--dark-purple) 50%, var(--back-purple) 100%);
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.screen-set {
	min-height: 100vh;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 100ms;
}

.standard-purple-card {
		flex-direction: column;
		background-color: #4d167d6d;
		border-radius: 15px;
		box-shadow: var(--violet) 0px 0px 20px;
		margin: 10px;
		padding: 25px;
		gap: 10px;
		min-width: 30vw;
		max-width: 90vw;
		z-index: 1;
		backdrop-filter: blur(6px) saturate(80%);
		border: 1px solid rgba(255, 255, 255, 0.125);
}

.standard-pink-card {
	background-color: var(--dark-pink);
	box-shadow: var(--accent-pink) 0px 0px 20px;
	border-radius: 15px;
	color: white;
	min-height: 20%;
	min-width: 35%;
	max-width: 80%;
	padding: 10px;
}

/* --> ICONS <-- */

.error-icon {
	background-image: url("../resources/img/error_icon.svg");
	width: 30px;
	height: 30px;
	background-size: cover;
	transition: 250ms ease-in-out;
}

.check-icon {
	background-image: url("../resources/img/check_icon.svg");
	width: 30px;
	height: 30px;
	background-size: cover;
	transition: 250ms ease-in-out;
}

.edit-icon {
	fill: var(--accent-pink);
	min-height: 24px;
	min-width: 24px;
	aspect-ratio: 1/1;
	border-radius: 5px;
	transition: 0.3s ease-in-out;
}

.edit-icon:hover {
	cursor: pointer;
	box-shadow: var(--accent-pink) 0px 0px 2px;
}

.home-icon {
	width: 40px;
	aspect-ratio: 1/1;
	transition: 0.3s ease-in-out;
}

.home-icon:hover {
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	box-shadow: var(--accent-pink) 0px 0px 2px;
}

.party-icon {
	width: 40px;
	aspect-ratio: 1/1;
	transition: 0.3s ease-in-out;
}

.party-icon:hover {
	cursor: pointer;
	box-shadow: var(--accent-pink) 0px 0px 2px;
}

.send-icon {
    transition: fill 0.3s ease-in-out;
}

.send-icon:hover {
	cursor: pointer;
	fill: var(--dark-pink);
}

.standard-icon {
	fill: var(--accent-pink);
	width: 40px;
	padding: 5px;
	aspect-ratio: 1/1;
	transition: 0.3s ease-in-out;
}

.standard-icon:hover {
	cursor: pointer;
	padding: 7px;
}

.close-icon {
	width: 40px;
	padding: 5px;
	aspect-ratio: 1/1;
	transition: 0.3s ease-in-out;
}

.close-icon:hover {
	cursor: pointer;
	fill: var(--accent-pink);
}

.add {
	background-color: var(--success);
}

.add:hover {
	fill: var(--success);
	background-color: var(--accent-success);
	box-shadow: var(--success) 0px 0px 2px;
}

.remove {
	background-color: var(--alert);
}

.remove:hover {
	fill: var(--alert);
	background-color: var(--accent-alert);
	box-shadow: var(--alert) 0px 0px 2px;
}

.pending {
	fill: var(--dark-pink);
	height: 40px;
	padding: 5px;
	aspect-ratio: 1/1;
	background-color: var(--accent-pink);
	transition: 0.3s ease-in-out;
}

.message-icon {
	background-color: var(--dark-pink);
}

.message-icon:hover {
	fill: var(--dark-pink);
	background-color: var(--accent-pink);
	box-shadow: var(--accent-pink) 0px 0px 2px;
}

.flag {
	height: 30px;
	width: 40px;
}

/* --> TOAST <-- */
#toast-default {
	display: none;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 2;
	color: white;
}

.toast-error {
	background-color: var(--alert) !important;
	box-shadow: var(--accent-alert) 0px 0px 10px !important;
}

.toast-success {
	background-color: var(--success) !important;
	box-shadow: var(--accent-success) 0px 0px 10px !important;
}

/* --> DIVIDERS <-- */

#divider {
	border-bottom: 5px solid var(--violet);
	border-radius: 3px;
	margin: 20px;
}

#pink-divider {
	border-bottom: 3px solid var(--accent-pink);
	border-radius: 3px;
	margin: 10px;
}

/* --> Animations <-- */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 100ms;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
