*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right-0 {
  right: 0px;
}

.z-10 {
  z-index: 10;
}

.m-2 {
  margin: 0.5rem;
}

.m-2\.5 {
  margin: 0.625rem;
}

.m-4 {
  margin: 1rem;
}

.-mr-1 {
  margin-right: -0.25rem;
}

.ms-3 {
  margin-inline-start: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.h-10 {
  height: 2.5rem;
}

.h-full {
  height: 100%;
}

.w-10 {
  width: 2.5rem;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-x-1\.5 {
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-\[var\(--dark-pink\)\] {
  color: var(--dark-pink);
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-50 {
  opacity: 0.5;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.outline {
  outline-style: solid;
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-inset {
  --tw-ring-inset: inset;
}

.ring-gray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity, 1));
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@font-face {
  font-family: "Perfect DOS VGA";

  src: url("../resources/fonts/perfect_dos_vga_437/Perfect\ DOS\ VGA\ 437\ Win.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "Alagard";

  src: url("../resources/fonts/alagard.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

:root {
  --accent-pink: #FEE0EF;
  --dark-pink: #D087AB;
  --back-purple: #3B0034;
  --dark-purple: #54184D;
  --dark-blue: #360066;
  --violet: #522B66;
  --alert: #C60001;
  --accent-alert: #FF504F;
  --success: #537A1C;
  --accent-success: #79B329;
}

body {
  margin: 0;
  font-family: "Perfect DOS VGA";
  color: var(--accent-pink);
  cursor: default;
  background-color: var(--dark-purple);
}

canvas {
  display: block;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--back-purple) 0%, var(--dark-purple) 50%, var(--back-purple) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.screen-set {
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --> ICONS <-- */

.close-icon {
  background-image: url("../resources/img/close_icon.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  transition: 250ms ease-in-out;
}

.close-icon:hover {
  cursor: pointer;
  background-image: url("../resources/img/close_icon_hover.svg");
}

.error-icon {
  background-image: url("../resources/img/error_icon.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  transition: 250ms ease-in-out;
}

.check-icon {
  background-image: url("../resources/img/check_icon.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  transition: 250ms ease-in-out;
}

.home-icon {
  transition: 0.3s ease-in-out;
}

.home-icon:hover {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  box-shadow: var(--accent-pink) 0px 0px 2px;
}

.send-icon {
  transition: fill 0.3s ease-in-out;
}

/* --> Home Page <-- */

#visual-div{
  min-height: 100vh;
  width: 100%;
}

#home-page {
  background-color: var(--dark-blue);
  border-radius: 15px;
  box-shadow: var(--violet) 0px 0px 20px;
  margin: 10vh 5vw;
  max-width: 1350px;
  padding: 25px;
  width: 85%;
  z-index: 1;
}

#header-section {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

#profile-button {
  border-radius: 50%;
  margin-left: 25px;
  height: 100px;
  width: 100px;
  background-image: url("../resources/img/cat.jpg");
  background-size: cover;
  transition: box-shadow 350ms ease-in-out;
}

#profile-options {
  margin: 5px;
  width: 175px;
  border-radius: 5px;
  background-color: var(--accent-pink);
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
}

.p-option {
  display: flex;
  color: var(--dark-blue);
  transition: 350ms ease-in-out;
}

.p-option:hover {
  background-color: var(--dark-blue);
  color: var(--accent-pink);
  padding-left: 10px;
}

#body-section {
  flex: 1;
}

#page-selector {
  margin-right: 10px;
  padding-right: 15px;
  width: 65%;
}

#explanation {
  background-color: var(--dark-pink);
  border-radius: 15px;
  box-shadow: #3b00345d 0px 5px 5px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 35%;
}

.page-option {
  align-items: center;
  background-color: var(--violet);
  border-radius: 15px;
  box-shadow: #3b00345d 0px 5px 5px;
  display: flex;
  font-size: xx-large;
  justify-content: center;
  margin: 5px;
  transition: box-shadow 350ms ease-in-out;
}

.page-option:hover, #profile-button:hover {
  box-shadow: var(--accent-pink) 0px 0px 10px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  #body-section {
    flex-direction: column;
  }

  #page-selector {
    width: 100%;
    height: auto;
  }

  #explanation {
    width: 100%;
    height: auto;
  }

  .page-option {
    aspect-ratio: auto;
  }
}

h1 {
  font-family: "Alagard", serif;
  font-size: xxx-large;
  color: white;
}

/* --> Login Page <-- */

#login-page, #sign-up-page, #terms-and-conditions, #twoFA-page, #chat-page, #settings-div, #settings-display {
  background-color: var(--dark-blue);
  border-radius: 15px;
  box-shadow: var(--violet) 0px 0px 20px;
  margin: 10px;
  padding: 25px;
  min-width: 30%;
  max-width: 90%;
  z-index: 1;
  gap: 10px;
}

#sign-up-page {
  display: none;
}

#divider {
  border-bottom: 5px solid var(--violet);
  border-radius: 3px;
  margin: 20px;
}

#login-page-img {
  margin-left: 20px;
  max-height: 100px;
  max-width: 100px;
}

#login-footer {
  z-index: 1;
  min-width: 30%;
  max-width: 90%;
}

.data-user {
  width: 100%;
  background-color: #54184d6f;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.signin-user {
  background-color: var(--dark-purple);
  width:-moz-fit-content;
  width:fit-content;
  transition: 350ms ease-in-out;
}

.signin-user:hover {
  background-color: var(--accent-pink);
  color: var(--dark-purple);
  cursor: pointer;
}

.create-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

#terms-conditions {
  text-align: end;
}

#menu-button {
  background-color: var(--dark-blue);
  border-radius: 5px;
  box-shadow: var(--violet) 0px 0px 20px;
}

.l-option {
  background-color: var(--accent-pink);
  color: var(--dark-blue);
  border-radius: 5px;
  margin-bottom: 5px;
  transition: 350ms ease-in-out;
  width: 100px;
}

.l-option:hover {
  background-color: var(--dark-blue);
  color: var(--accent-pink);
  padding-left: 10px;
}

#recover-password, #reset-password {
  display: none;
  background-color: var(--dark-pink);
  box-shadow: var(--accent-pink) 0px 0px 20px;
  border-radius: 15px;
  color: white;
  min-height: 20%;
  min-width: 35%;
  max-width: 80%;
  padding: 10px;
}

#pink-divider {
  border-bottom: 3px solid var(--accent-pink);
  border-radius: 3px;
  margin: 10px;
}

#toast-default {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  color: white;
}

.toast-error {
  background-color: var(--alert) !important;
  box-shadow: var(--accent-alert) 0px 0px 10px !important;
}

.toast-success {
  background-color: var(--success) !important;
  box-shadow: var(--accent-success) 0px 0px 10px !important;
}

#terms-and-conditions {
  display: none;
  max-height: 800px;
  max-width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#reset-password {
  display: flex;
  position: relative;
  z-index: 1;
}

#input-reset-password {
  width: 100%;
}

#submit-reset-password {
  align-self: end;
}

#reset-password-form {
  gap: 10px;
}

@media only screen and (max-width: 767px) {
  #terms-and-conditions {
    max-width: 90%;
  }

  #reset-password-form {
    flex-direction: column;
    align-items: center;
  }

  #input-reset-password {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #submit-reset-password {
    align-self: center;
  }

  .home-icon {
    width: 40px;
    height: 40px;
  }
}

/* --> 2FA Page <-- */

.twoFA-input {
  width:  75px;
  height: 75px;
  border-radius: 15px;
  background-color: var(--accent-pink);
  box-shadow: var(--accent-pink) 0px 0px 5px;
  opacity: 80%;
  color: var(--back-purple);
  text-align: center;
  font-size: 2rem;
}

.twoFA-input:focus {
  opacity: 90%;
  box-shadow: var(--accent-pink) 0px 0px 10px;
}

/* --> Messages page <-- */

#chat-page {
  min-height: 85%;
  min-width: 70%;
}

#chat-box {
  height: 75vh;
  width: 70vw;
  margin: 10px;
  gap: 10px;
}

#conversation-list {
  background-color: var(--dark-pink);
  width: 275px;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}

#conversation-history {
  background-color: var(--violet);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  #chat-box {
    justify-content: center;
    height: 60vh;
  }

  #conversation-list {
    min-width: 78vw;
    width: 95%;
    max-height: 75vh;
    margin-bottom: 10px;
  }

  #conversation-history {
    min-width: 78vw;
    width: 95%;
    max-height: 75vh;
  }

  .mobile-chat-buttons {
    width: 100%;
  }
}

#contact-info {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  gap: 20px;
}

#contact-picture {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}

#message-divider {
  border-bottom: 3px solid var(--accent-pink);
  border-radius: 3px;
  margin: 10px;
  width: 100%;
}

#message-history {
  width: 100%;
  height: 79%;
  background-image: url("../resources/img/output-onlinepngtools.png");
  border-radius: 15px;
  background-size: 40%;
  background-position: center;
  overflow-y: auto;
}

#message {
  display: flex;
  justify-content: flex-end;
  padding-left: 30%;
}

#friend-message {
  display: flex;
  justify-content: flex-start;
  padding-right: 30%;
}

.message {
  white-space: wrap;
  word-wrap: anywhere;
  margin: 5px 10px;
  padding: 15px 10px;
  min-width: 50px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  position: relative;
}

.message > .hour {
  position: absolute;
  font-size: x-small;
  opacity: 50%;
  right: 7.5px;
  bottom: 2.5px;
}

.self-message {
  display: flex;
  background-color: var(--dark-pink);
  border-radius: 15px 15px 1px 15px;
}

.friend-message {
  display: flex;
  background-color: var(--dark-blue);
  border-radius: 15px 15px 15px 1px;
}

#message-box, #search-friend-chat {
  width: 100%;
  height: 9%;
}

#message-box > input, #search-friend-chat > input{
  width: 100%;
  height: 60%;
  opacity: 80%;
  border-radius: 15px 0px 0px 15px;
  padding: 5px;
  background-color: whitesmoke;
  color: var(--dark-purple);
}

#search-friend-chat > input {
  border-radius: 15px;
}

#message-box > button {
  padding: 5px;
  height: 60%;
  opacity: 80%;
  border-radius: 0px 15px 15px 0px;
  background-color: whitesmoke;
  transition: 250ms ease-in-out;
}

#message-box > button:hover .send-icon {
  cursor: pointer;
  fill: var(--dark-pink);
}

.recent-chat-card {
  border-radius: 15px;
  color: var(--dark-blue);
  background-color: #fee0efc4;
  padding: 5px;
  margin: 5px;
  transition: 250ms ease-in-out;
}

.recent-chat-card:hover {
  background-color: var(--accent-pink);
  box-shadow: var(--accent-pink) 0px 0px 5px;
}

#chat-avatar {
  height: 60px;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
}

/* --> Settings page <-- */

.settings-option {
  display: flex;
  background-color: var(--dark-pink);
  justify-content: space-between;
  box-shadow: var(--accent-pink) 0px 0px 2px;
  border-radius: 15px;
  padding: 10px;
  text-align: start;
  width: 100%;
  cursor: pointer;
  color: white;
  transition: 250ms ease-in-out;
}

.settings-option:hover {
  color: var(--dark-pink);
  background-color: var(--accent-pink);
}

.settings-option .icon {
  transition: fill 0.3s ease-in-out;
}

.settings-option:hover .icon {
  fill: var(--dark-pink);
}

.delete-option {
  background-color: var(--accent-alert);
  box-shadow: var(--accent-alert) 0px 0px 2px;
}

.delete-option:hover {
  color: var(--alert);
  background-color: var(--accent-pink);
}

.delete-option:hover .icon {
  fill: var(--alert);
}

.language-option {
  justify-content: start;
  align-items: center;
  width: 50%;
}

.flag {
  height: 30px;
  width: 40px;
}

/* --> Games page <-- */

#games-page {
  background-color: var(--dark-blue);
  border-radius: 15px;
  box-shadow: var(--violet) 0px 0px 20px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 90vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
}

#game {
  border-radius: 15px;
  background-color: black;
  overflow: hidden;
  width: 70%;
  aspect-ratio: 2/1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 20px solid white;
  position: relative;
}

#ball {
  width: 2%;
  height: 4%;
  left: 50%;
  top: 50%;
  display: block;
  border: 2px solid white;
  position: absolute;
  background-color: white;
}

.paddle {
  width: 2%;
  height: 20%;
  background-color: white;
  position: absolute;
  top: 50%;
}

#paddleLeft {
  left: 2%;
}

#paddleRight {
  right: 2%;
}

#line {
  width: 50%;
  height: 100%;
  border-right: 10px dashed white;
  position: absolute;
}

.counter {
  color: white;
  position: absolute;
  top: 10%;
  font-size: 5vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#counter1 {
  left: 25%;
}

#counter2 {
  left: 65%;
}

.hover\:bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  }

  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
  }
}