#games-page {
	min-height: 90vh;
	width: 75vw;
}

#game {
	border-radius: 15px;
	background-color: black;
	overflow: hidden;
	width: 70%;
	aspect-ratio: 2/1;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 20px solid white;
	position: relative;
}

#ball {
	width: 2%;
	height: 4%;
	left: 50%;
	top: 50%;
	display: block;
	border: 2px solid white;
	position: absolute;
	background-color: white;
}

.paddle {
	width: 2%;
	height: 20%;
	background-color: white;
	position: absolute;
	top: 50%;
}

#paddleLeft {
	left: 2%;
}

#paddleRight {
	right: 2%;
}

#line {
	width: 50%;
	height: 100%;
	border-right: 10px dashed white;
	position: absolute;
}

.counter {
	color: white;
	position: absolute;
	top: 10%;
	font-size: 5vw;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#counter1 {
	left: 25%;
}

#counter2 {
	left: 65%;
}

/* --> Select game page <-- */
.game-card {
  display: flex;
	background-color: var(--accent-pink);
	border-radius: 15px;
	text-align: center;
	box-shadow: var(--accent-pink) 0px 0px 5px;
	transition: transform 0.2s;
}

.game-card:hover {
	transform: translateY(-5px);
}

.game-icon {
	width: 64px;
	height: 64px;
	fill: var(--dark-pink);
}

.game-title {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dark-blue);
}

.game-description {
	color: var(--dark-blue);
}

.game-button {
	margin-top: auto;
	background-color: var(--dark-pink);
	border-radius: 15px;
	transition: all 250ms ease-in-out;
}

.game-button:hover {
  background-color: #b06289;
}

/* Refactor this when I have the time */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
  background: #b7618cb7;
  backdrop-filter: blur(6px) saturate(80%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem;
  border-radius: 15px;
  position: relative;
}

.game-options {
  display: grid;
  gap: 1rem;
}

.icon {
	transition: all 250ms ease-in;
  fill: var(--accent-pink);
}

.option-button .icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.option-button:hover .icon {
  fill: var(--dark-purple);
}

.option-button {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: var(--dark-purple);
  border-radius: 15px;
  transition: all 250ms ease-in;
}

.option-button:hover {
  background: var(--accent-pink);
  border-color: var(--dark-purple);
  color: var(--dark-purple);
}

.mode-button {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--accent-pink);
  border-radius: 15px;
  background: transparent;
  color: var(--accent-pink);
  font-weight: 500;
  transition: all 0.2s;
}

.mode-button:hover {
  background: var(--accent-pink);
  color: var(--dark-purple);
}

.mode-button.active {
  background: var(--accent-pink);
  color: var(--dark-purple);
}