#games-page {
	min-height: 90vh;
	width: 75vw;
}

#game {
	border-radius: 15px;
	background-color: black;
	overflow: hidden;
	width: 70%;
	aspect-ratio: 2/1;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 20px solid white;
	position: relative;
}

#board {
    pointer-events: none;
    float: right;
    display: grid;
    position: relative;
    height:fit-content;
    max-height: 85%;
    margin: 1%;
    padding-bottom: 5%;
    width: 60%;
    gap: 2%;
	background-color: rgb(24, 127, 245);
    border-radius: 1%;
    border: 2px solid  rgb(0, 77, 112);
}

#menu {
    float: left;
    position: relative;
    border: 2px solid  rgb(0, 77, 112);
    border-radius: 1%;
    height: fit-content;
    width: fit-content;
    margin: 2%;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 2%;
    display: block;
}

h1 {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
    color:white;
    opacity: 80%;
    margin-inline: 10%;
    margin-top: 5%;
}

#menu > button {
    border-radius: 1%;
    border: 2px solid  rgb(0, 77, 112);
    position: relative;
    padding: 2%;
    width: 80%;
    margin-inline: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    color:rgb(255, 218, 218);
    font-weight: 700;
}

#menu > button:hover {
   width: 90%;
   margin-inline: 5%;
   margin-bottom: 2%;
   font-weight: 900;
}

#btnMn {
    position: absolute;
    border:2px solid rgb(7, 39, 76);
    opacity: 80%;
    border-radius: 1%;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    top: 100%;
    place-self: end;
    padding: 1%;
    text-align: center;
    color:white;
    margin-top: 1%;
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cell {
    width: 60%;
    aspect-ratio: 1/1;
    background-color: white;
    border: 2px solid  rgb(0, 77, 112);
    border-radius: 50%;
	margin: 10%;
    position: relative;
    opacity: 80%;
}

.cell:hover {
    opacity: 80%;
}

.token {
    width: 100%;
    height: max-content;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation-duration:1s;
    animation-name: token;
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 2vw;
}

.red {
    background-color: rgb(255, 2, 2);
}

.yellow {
    background-color: yellow;
}

#winner {
    position: absolute;
    display: none;
    border:2px solid rgb(7, 39, 76);
    opacity: 80%;
    border-radius: 1%;
    width: 80%;
    height: fit-content;
    z-index: 1;
    place-self: center;
    text-align: center;
    align-content: center;
    color:white;
    font-size: 120%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.yellow > span {
    color: yellow;
    font-size: 100%;
    font-weight: bolder;
}

.red > span {
    color: red;
    font-weight: bolder;
    font-size: 100%;
}

#draw {
    position: absolute;
    display: none;
    border:2px solid rgb(7, 39, 76);
    opacity: 80%;
    border-radius: 1%;
    width: 80%;
    height: fit-content;
    z-index: 1;
    place-self: center;
    text-align: center;
    align-content: center;
    color:white;
    font-weight: bolder;
    font-size: 120%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.filled {
    width: 60%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
	margin: 10%;
    position: relative;
    opacity: 80%;
    border: 2px solid  rgb(0, 77, 112);
}

@keyframes token {
    from {
        top: -1000;
    }
    to {
        top: 0%;
    }
}

/* ----- Crazy Tokens ----- */

#dice-container {
    position: absolute;
    border: 2px solid rgb(7, 39, 76);
    border-radius: 1%;
    width: 7%;
    height: 9.5%;
    top: -6.5%;
    right: -4%;
    place-self: end;
    padding: 1%;
    text-align: center;
    align-content: center;
    color:white;
    margin-top: 1%;
    font-size: 2vw;
}

.rolling {
    animation: rollAnimation 1s ease-in-out;
}

.usingDice {
    animation: usingAnimation 1s ease-in-out;
}

@keyframes rollAnimation {
    0% {
        transform: rotate(0deg);
        background-color: #d65050;
    }
    50% {
        transform: rotate(360deg);
        background-color: #fdd947;
    }
    100% {
        transform: rotate(0deg);
        background-color: #fb9d11;
    }
}

@keyframes usingAnimation {
    0% {
        transform: rotate(50deg);
        font-size: x-large;
    }
    25% {transform: rotate(-50deg);}
    50% {transform: rotate(25.5deg);}
    75% {transform: rotate(-25.5deg);}
    100% {
        transform: rotate(0deg);
        font-size: large;
    }
}

@keyframes moveToken {
    0% {
        transform: translateY(-100%);
        opacity: 1;
        }
    25% {
        transform: translateY(-75%);
        opacity: 0.8;}
    50% {
        transform: translateY(-50%);
        opacity: 0.5;
    }
    75% {
        transform: translateY(-25%);
        opacity: 0.8;}
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}