#games-page {
    min-height: 90vh;
    width: 75vw;
}

#game-connect {
    position: relative;
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#players {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0 2%;
    opacity: 80%;
}

#pauseConnect {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    color: white;
    font-size: 4vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.976);
    display: none;
    animation: blinkPause 1.5s infinite;
}

@keyframes blinkPause {
    0%,100% { opacity: 1; }
    50% { opacity: 0.5; }
}

#buttomGroup {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 80%;
    gap: 20px;
    margin-top: 2%;
}

/* #buttomGroup>button {
    border-radius: 8px;
    background-color: var(--dark-pink);
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
}

#buttomGroup>button:hover {
    background-color: #b06289;
    transform: translateY(-2px);
} */

#returnToGamesConnect {
    position: absolute;
    color: white;
    width: 60%;
    top: 28%;
    left: 20%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: none;
    background-color: rgb(12, 43, 105);
    border: white solid 2px;
    border-radius: 2%;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);  
}

#returnToGamesConnect > p {
	white-space: nowrap;
	font-size: clamp(0.6rem, 1.5vw, 2vw);
	animation: blinkPause 1.5s infinite;
}

#returnToGamesConnect > button {
	font-size: clamp(0.4rem, 1.5vw, 1rem);
	border-radius: 8px;       
    background-color: var(--dark-pink);
    width: fit-content;
    height: fit-content;
    padding: clamp(4px, 0.8vw, 10px) clamp(10px, 2vw, 20px);     
    text-align: center;
    cursor: pointer;         
    transition: background-color 0.2s;
	margin-inline: 2%;
}

#returnToGamesConnect > button:hover {
    background-color: #b06289;
    transform: translateY(-2px);
}

#board {
    border-radius: 15px;
    border: 10px solid rgb(0, 77, 112);
    background-color: rgb(24, 127, 245);
    aspect-ratio: 2.7 / 1.7;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.cell {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    border: 2px solid rgb(0, 77, 112);
    border-radius: 50%;
    margin: 10%;
    position: relative;
    opacity: 80%;
}

.cell:hover {
    opacity: 80%;
    background-color: rgba(255, 0, 0, 0.5);
}

.cell.red-hover:hover {
    opacity: 80%;
    background-color: rgba(255, 0, 0, 0.5);
}

.cell.yellow-hover:hover {
    opacity: 80%;
    background-color: rgba(255, 255, 0, 0.5);
}

.filled {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    margin: 10%;
    position: relative;
    opacity: 80%;
    border: 2px solid rgb(0, 77, 112);
    overflow: visible;
}

.token {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 2vw;
}

.red {
    background-color: rgb(255, 2, 2);
}

.yellow {
    background-color: yellow;
}

#winner {
    position: absolute;
    display: none;
    border: 2px solid rgb(0, 77, 112);
    background-color: rgb(24, 127, 245);
    opacity: 80%;
    border-radius: 1%;
    width: 80%;
    height: fit-content;
    z-index: 1;
    place-self: center;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 120%;
}

.yellow>span {
    color: yellow;
    font-size: 100%;
    font-weight: bolder;
}

.red>span {
    color: red;
    font-weight: bolder;
    font-size: 100%;
}

#draw {
    position: absolute;
    display: none;
    border: 5px solid rgb(7, 39, 76);
    background-color: rgb(24, 127, 245);
    opacity: 80%;
    border-radius: 3%;
    width: 80%;
    height: fit-content;
    z-index: 1;
    place-self: center;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bolder;
    font-size: 120%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@keyframes token {
    0% {
        transform: translateY(-1000%);
    }

    100% {
        transform: translateY(0);
    }
}

/* ----- Crazy Tokens ----- */

#dice-container {
    position: absolute;
    display: none;
    background-color: rgba(255, 2, 2, 0.811);
    border: 2px solid rgb(0, 77, 112);
    border-radius: 1%;
    width: 7%;
    height: 10.5%;
    top: -7.5%;
    right: -4%;
    place-self: end;
    padding: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 1%;
    font-size: 1.5vw;
    z-index: 5;
}

.rolling {
    animation: rollAnimation 1s ease-in-out;
}

.usingDice {
    animation: usingAnimation 1s ease-in-out;
}

@keyframes rollAnimation {
    0% {
        transform: rotate(0deg);
        background-color: #d65050;
    }

    50% {
        transform: rotate(360deg);
        background-color: #fdd947;
    }

    100% {
        transform: rotate(0deg);
        background-color: #fb9d11;
    }
}

@keyframes usingAnimation {
    0% {
        transform: rotate(50deg);
        font-size: x-large;
    }

    25% {
        transform: rotate(-50deg);
    }

    50% {
        transform: rotate(25.5deg);
    }

    75% {
        transform: rotate(-25.5deg);
    }

    100% {
        transform: rotate(0deg);
        font-size: large;
    }
}

@keyframes moveToken {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}