.stats-won-card {
	background-color: var(--success);
	box-shadow: var(--accent-success) 0px 0px 10px;
}

.stats-lost-card {
	background-color: var(--alert);
	box-shadow: var(--accent-alert) 0px 0px 10px;
}

.myChartDiv {
	height: 250px;
	aspect-ratio: 1/1;
}