#login-footer {
	min-width: 30%;
	max-width: 90%;
}

.googleButton {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 250ms;
}

.data-user {
	width: 100%;
	background-color: var(--violet);
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.signin-user {
	background-color: var(--dark-pink);
	width: fit-content;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	transition: 350ms ease-in-out;
}

.signin-user:hover {
	background-color: var(--accent-pink);
	color: var(--dark-purple);
	cursor: pointer;
}

.modal-button {
	background-color: var(--dark-purple);
}

.modal-button:hover {
	background-color: var(--accent-pink);
	color: var(--dark-purple);
	cursor: pointer;
}

#menu-button {
	background-color: var(--dark-blue);
	box-shadow: var(--violet) 0px 0px 20px;
	border-radius: 5px;
}

.l-option {
	width: 100px;
	color: var(--dark-blue);
	background-color: var(--accent-pink);
	border-radius: 5px;
	margin-bottom: 5px;
	transition: 350ms ease-in-out;
}

.l-option:hover {
	color: var(--accent-pink);
	background-color: var(--dark-blue);
	padding-left: 10px;
}

#terms-and-conditions {
	max-height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
