#reset-password {
	display: flex;
	position: relative;
	z-index: 1;
}

#input-reset-password {
	width: 100%;
}

#submit-reset-password {
	align-self: end;
}

#reset-password-form {
	gap: 10px;
}

@media only screen and (max-width: 767px) {
	#reset-password-form {
		flex-direction: column;
		align-items: center;
	}
	#input-reset-password {
		display: flex;
		align-items: center;
		width: 100%;
	}
	#submit-reset-password {
		align-self: center;
	}
}
