.settings-option {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--dark-pink);
	color: white;
	box-shadow: var(--accent-pink) 0px 0px 2px;
	border-radius: 15px;
	padding: 10px;
	text-align: start;
	cursor: pointer;
	transition: 250ms ease-in-out;
}

.settings-option:hover {
	color: var(--dark-pink);
	background-color: var(--accent-pink);
}

.settings-option .icon {
    transition: fill 0.3s ease-in-out;
}

.settings-option:hover .icon {
    fill: var(--dark-pink);
}

.delete-option {
	background-color: var(--accent-alert);
	box-shadow: var(--accent-alert) 0px 0px 2px;
}

.delete-option:hover {
	color: var(--alert);
	background-color: var(--accent-pink);
}

.delete-option:hover .icon {
	fill: var(--alert);
}
