
.settings-size {
    min-height: 65vh;
    max-height: 65vh;
}

/* Add a container for both divs */
.flexy {
    position: relative;
    display: flex;
	width: 100%;
}

#settings-div { transition: transform 1s ease; }

#settings-div.slide-left { transform: translateX(-55%); }


#change-password, #two-factor, #blocked-accounts {
    transition: all 1s ease;
    position: absolute;
}

#change-password.hide, #two-factor.hide, #blocked-accounts.hide {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
}

#change-password:not(.hide), #two-factor:not(.hide), #blocked-accounts:not(.hide) { transform: translateX(55%); }

@media (max-width: 	1280px) {
	#change-password:not(.hide), #two-factor:not(.hide), #blocked-accounts:not(.hide) { transform: translateX(0); }
}

.settings-option {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--dark-pink);
	color: white;
	box-shadow: var(--accent-pink) 0px 0px 2px;
	border-radius: 15px;
	padding: 10px;
	text-align: start;
	cursor: pointer;
	transition: 250ms ease-in-out;
}

.settings-option:hover {
	color: var(--dark-pink);
	background-color: var(--accent-pink);
}

.settings-option .icon {
    transition: fill 0.3s ease-in-out;
}

.settings-option:hover .icon {
    fill: var(--dark-pink);
}

.delete-option {
	background-color: var(--accent-alert);
	box-shadow: var(--accent-alert) 0px 0px 2px;
}

.delete-option:hover {
	color: var(--alert);
	background-color: var(--accent-pink);
}

.delete-option:hover .icon {
	fill: var(--alert);
}
